[submodule "robotis_mujoco_menagerie"]
	path = robotis_mujoco_menagerie
	url = https://github.com/ROBOTIS-GIT/robotis_mujoco_menagerie.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
